/* Background color
-------------------------------*/
.theme-bg {
	background-color: $px-theme;
}

.gray-bg {
	background-color: $px-gray;
}

.white-bg {
	background-color: $px-white;
}

.dark-bg {
	background-color: rgba($px-dark-bg, 0.7);
	backdrop-filter: blur(10px);
	border-radius: 12px;
}

.light-bg {
	background-color: rgba($px-white, 0.65);
	backdrop-filter: blur(10px);
	border-radius: 12px;
	border: 2px solid rgba($px-white, 0.3);
}

.openpo-bg {
	background-color: $px-openpo !important;
}

.esplanade-bg {
	background-color: $px-esplanade !important;
}

.zalora-bg {
	background-color: $px-zalora !important;
}

.huemail-bg {
	background-color: $px-huemail !important;
}

.autodesk-bg {
	background-color: $px-autodesk !important;
}

.workspace-bg {
	background-color: rgba($px-workspace, 0.3) !important;
}


/* Text color
-------------------------------*/
.white-color {
	color: $px-white !important;
}

.white-color-light {
	color: rgba($px-white, 0.65) !important;
}

.dark-color {
	color: $px-dark !important;
}

.body-color {
	color: $px-body-color !important;
}

.theme-color {
	color: $px-theme !important;
}

.openpo-color {
	color: $px-openpo !important;
}

.esplanade-color {
	color: $px-esplanade !important;
}

.zalora-color {
	color: $px-zalora !important;
}

.huemail-color {
	color: $px-huemail !important;
}

.autodesk-color {
	color: $px-autodesk !important;
}

.workspace-color {
	color: $px-workspace !important;
}

.medium-dark-color {
	color: $px-medium-dark !important;
}