/*	Toggle Menu
-------------------------*/
.navbar-toggler {
	width: 40px;
    height: 40px;
    position: relative;
    margin: 0;
    border-radius: 0;
    padding: 0;
    margin-left: 15px;
	background: $px-theme;
	border: none;
	.header-transparent-white & {
		background: $px-white;
	}
	span {
		position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    width: 25px;
	    height: 2px;
	    margin: auto;
	    box-shadow: 0px -8px 0 0px currentColor, 0px 8px 0 0px currentColor;
		background: $px-white;
		color: $px-white;
		.header-transparent-white & {
			background: $px-dark;
			color: $px-dark;
		}
	}
}



.header-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid rgba($px-white, 0.09);
	z-index: 10;
	&.fixed-header {
		background: $px-white;
		box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
	}
	.navbar-logo {
		display: flex;
		align-items: center;
		color: $px-dark;
		font-size: 1.25rem;
		font-weight: 400;
		font-family: $px-heading-font-family;
		img {
			height: 1.25rem;
			margin-right: .25rem;
		}
	}
}

.main-navbar {
	padding: 0;
	.logo-text {
	    font-size: 22px;
	    font-weight: 400;
	    line-height: 32px;
	    color: $px-dark;
	    display: inline-block;
	    .fixed-header & {
	    	color: $px-dark;
	    }
	}
	.logo-dark {
		display: none;
		.fixed-header & {
			display: block;
		}
	}
	.logo-light  {
		.fixed-header & {
			display: none;
		}	
	}
	@include up-md {
		.navbar-nav {
			> li {
				margin:0 0 0 30px;
				&.mm-in {
					> a {
						position: relative;
						padding-right: 15px;
						&:after {
							content:"";
							position: absolute;
							width: 6px;
							height: 6px;
							border-bottom: 1px solid currentColor;
							border-right: 1px solid currentColor;
							@include rotate(45);
							right: 0;
							top: -5px;
							bottom: 0;
							margin: auto;
							@include down-md {
								display: none;
							}
						}
					}
				}
				> a {
			        font-size: 15px;
				    font-weight: 400;
				    padding: 0 !important;
				    line-height: 42px;
				    display: block;
				    color: $px-dark;
				    position: relative;
				    .fixed-header & {
				    	color: $px-dark;
					}
					&:hover{
						color: $px-theme;
					}
				    &:after {
				    	content:"";
				    	position: absolute;
				    	bottom: -1px;
				    	right: 0;
				    	width: 0px;
				    	@include transition(ease all 0.35s);
				    	height: 2px;
				    	background: currentColor;
				    }
				    &:hover,
				    &.active {
				    	&:after {
				    		width:100%;
				    		right: auto;
				    		left: 0;
				    	}
				    }
				}
			}
		}
	}
}

/* Side Menu
-----------------------------*/
.header-nav-left {
	.navbar-nav {
		> li {
			.nav-link {
			    padding: 10px;
			    color: $px-dark;
			    font-size: 14px;
			    text-transform: uppercase;
			    font-weight: 400;
			    i {
			    	width: 22px;
			    }
			    &.active {
			    	color: $px-theme;
			    }
			}
			&:hover {
				.nav-link {
					color: $px-theme;
				}
			}
		}
	}
	@include up-lg {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 200px;
		overflow: hidden;
		background: #0c1424;
		.scroll-in {
			overflow: auto;	
			height: 100vh;
			width: 220px;
			padding-right: 20px;
			overflow: -moz-scrollbars-none;
			 -ms-overflow-style: none;
			&::-webkit-scrollbar { width: 0 !important }
		}
		.navbar-collapse {
			display: block;
			-ms-flex: 1 1 auto;
	    	flex: 1 1 auto;
		}
		.navbar-toggler {
			display: none;
		}
		.header-logo {
			width: 100%;
			a {
				display: block;
			}
			.label {
				width: 100%;
				display: inline-block;
				vertical-align: top;
				background: #0c0c17;
				margin: 0;
				padding: 10px;
				text-align: center;
				color: $px-dark;
				font-weight: 700;
				text-transform: uppercase;
			}
		}

		.header-social {
			padding: 20px 10px;
		}
	}
	@include down-lg {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		padding: 15px 0;
		z-index: 4;
		&.fixed-header {
			background: $px-dark;
		}
		.header-logo {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 15px;
			.logo-text {
				img {
					display: none;
				}
				.label {
				    margin: 0;
				    font-weight: 700;
				    font-size: 24px;
				    text-transform: uppercase;
				    line-height: 24px;
				    vertical-align: top;
				    color: $px-dark;
				}
			}
		}
		.navbar-collapse {
			background: $px-white;
		}
		.header-social {
			display: none;
		}
	}
}

/* Responsive Menu
-----------------------------*/
@include down-md {
	.main-navbar {
		padding: 10px 15px;
		> .container {
			padding-left: 0px;
			padding-right: 0px;
		}
		.navbar-collapse {
		    position: absolute;
		    top: 100%;
		    left: 0;
		    right: 0;
		    background: $px-white;
	        max-height: 80vh;
		    overflow-y: auto;
		}
		.navbar-nav {
			> li  {
				margin: 0;
				border-top:1px solid $px-light-gray;
				&:last-of-type {
					border-bottom: 1px solid $px-light-gray;
				}
		    	> a {
				    text-transform: uppercase;
					font-size: 13px;
					font-weight: 700;
					padding: 0 15px;
    				line-height: 40px;
					display: block;
					color: $px-dark;
					&.active {
						color: $px-theme;
					}
		    	}
			}
		}
	}
}
