/*	Toggle Menu
-------------------------*/
.navbar-toggler {
	width: 40px;
    height: 40px;
    position: relative;
    margin: 0;
    border-radius: 0;
    padding: 0;
    margin-left: 15px;
	background: $px-theme;
	border: none;
	.header-transparent-white & {
		background: $px-white;
	}
	span {
		position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    width: 25px;
	    height: 2px;
	    margin: auto;
	    box-shadow: 0px -8px 0 0px currentColor, 0px 8px 0 0px currentColor;
		background: $px-white;
		color: $px-white;
		.header-transparent-white & {
			background: $px-dark;
			color: $px-dark;
		}
	}
}



.header-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	// border-bottom: 1px solid rgba($px-white, 0.09);
	z-index: 10;
	color: $px-dark;
	font-size: 1.25rem;
	font-weight: 400;
	font-family: $px-font-family;
	&.fixed-header {
		background: $px-white;
		box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
	}
	.navbar-logo {
		display: flex;
		align-items: center;
		color: $px-dark;
		img {
			height: 1.5rem;
		}
	}
}

.main-navbar {
	padding: 5px 15px;
	@include up-md {
		.navbar-nav {
			> li {
				margin:0 0 0 30px;
				> a {
			        font-size: 1rem;
				    font-weight: 300;
				    padding: 0 !important;
				    line-height: 42px;
				    display: block;
				    color: $px-dark;
					position: relative;
					text-decoration: none;
				    .fixed-header & {
				    	color: $px-dark;
					}
					&:hover{
						color: $px-theme;
					}
				    &:after {
				    	content:"";
				    	position: absolute;
				    	bottom: -1px;
				    	right: 0;
				    	width: 0px;
				    	@include transition(ease all 0.35s);
				    	height: 2px;
				    	background: currentColor;
				    }
				    &:hover,
				    &.active {
						font-weight: 600;
						text-decoration: none;
				    	&:after {
				    		width:100%;
				    		right: auto;
							left: 0;
				    	}
				    }
				}
			}
		}
	}
}

/* Responsive Menu
-----------------------------*/
@include down-md {
	.main-navbar {
		> .container {
			padding-left: 0px;
			padding-right: 0px;
		}
		.navbar-collapse {
		    position: absolute;
		    top: 100%;
		    left: 0;
		    right: 0;
		    background: $px-white;
	        max-height: 80vh;
		    overflow-y: auto;
		}
		.navbar-nav {
			> li  {
				margin: 0;
				border-top:1px solid $px-light-gray;
				&:last-of-type {
					border-bottom: 1px solid $px-light-gray;
				}
		    	> a {
				    text-transform: uppercase;
					font-size: 13px;
					font-weight: 700;
					padding: 0 15px;
    				line-height: 40px;
					display: block;
					color: $px-dark;
					&.active {
						color: $px-theme;
					}
		    	}
			}
		}
	}
}
