.section-title {
	h2 {
        font-weight: 700;
	    font-size: 45px;
	    margin: 0;
	    position: relative;
	    display: inline-block;
	    vertical-align: top;
	    z-index: 1;
	    @include down-md {
	    	font-size: 42px;
	    }
	    @include down-sm {
	    	font-size: 32px;
	    }
	    &:after {
    	    content: "";
		    position: absolute;
		    bottom: 5px;
		    left: 0;
		    right: 0;
		    margin: auto;
		    height: 3px;
		    opacity: 0.2;
		    z-index: -1;
		    background: $px-theme;
	    }
	}
	h3 {
	    font-weight: 700;
	    font-size: 35px;
	    margin: 0;
	    position: relative;
	    display: inline-block;
	    vertical-align: top;
	    z-index: 1;
	    padding: 0 0 6px;
	    @include down-md {
	    	font-size: 32px;
	    }
	    @include down-sm {
	    	font-size: 28px;
	    }
	    &:after {
	        content: "";
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    right: 30%;
		    margin: auto;
		    height: 2px;
		    z-index: -1;
		    background: $px-theme;
	    }	
	}
	p {
		margin: 1rem 0 0;
		font-size: 18px;
		@include down-md {
	    	font-size: 17px;
	    }
	    @include down-sm {
	    	font-size: 16px;
	    }
		&.small {
			margin: 8px 0 0;
		    font-size: 14px;
		    letter-spacing: 2px;
		}
	}
	&.text-center {
		h3 {
			&:after {
				left: 30%;
			}
		}
	}
}

.sub-title {
	position: relative;
	h4 {
        font-size: 20px;
	    font-weight: 500;
	    position: relative;
	    margin: 0;
	    display: inline-block;
	    vertical-align: top;
	    &:after {
    	    content: "";
		    position: absolute;
		    bottom: -3px;
		    left: 0;
		    right: 0;
		    height: 2px;
		    background: $px-theme;
		    opacity: 0.2;
	    }
	}
}

.page-title {
	padding: 160px 0 100px;
	h1,
	.h1 {
		font-weight: 700;
		margin-bottom: 20px;
	}
}

/* Breadcrumbs
--------------------------------*/
.breadcrumb {
	margin: 0;
	padding: 0;
	list-style: none;
	background: none;
	border-radius: 0;
	li {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		font-weight: 400;
		position: relative;
		color: $px-dark;
		+ li {
			padding-left: 17px;
			margin-left: 17px;
			&:after {
				content:"";
				position: absolute;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background: currentColor;
				opacity: 0.5;
				left: -2px;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
		a {
			color: $px-dark;
		}
	}
	&.white {
		li {
			color: $px-white;
			a {
				color: $px-white;
			}
		}	
	}
}